.vscode/
src/Output026/
src/Output032/
src/Output040/
src/Output040Full/
src/Output041/
src/Output041SFull/
src/Output041S/
src/Output041SColored/
src/Output041SBlue/
src/redketchup.zip
src/redketchup (1).zip
src/redketchup (2).zip
src/redketchup (3).zip
src/favicon_io.zip

projects/todo.txt
projects/ideas.txt
projects/dump/

chrome-capture-2023-0-30.gif
