@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Space+Mono&display=swap');

:root {
	/* --bg: #d4e2d4;
	--primary: #202020;
	--secondary: #0011ff; */
	/* --bg: rgb(219, 215, 206);
	--primary: #181818;
	--secondary: #221ee6; */
	--bg: #eeeeee;
	--primary: #181818;
	--secondary: #0063E2;
	--color4: #006941;
	--color5: #FFB200;
	--margin-l: 100px;
	--margin-s: 40px;
}

/*************** SCROLLBAR ******************/
/*************** SCROLLBAR ******************/
/*************** SCROLLBAR ******************/
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--primary) var(--bg);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
}


*::-webkit-scrollbar-track {
	background: var(--bg);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 0px;
	border: none;
}

/*************** CURSOR ******************/
/*************** CURSOR ******************/
/*************** CURSOR ******************/
#cursor-default,
#cursor-pointer {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 9999;
	pointer-events: none;
	width: 45px;
	height: 45px;
	transition: opacity .3s;
}

#cursor-default {
	border: 1px solid var(--primary);
	top: -50px;
	left: -50px;
}

#cursor-pointer {
	background: #fff;
	mix-blend-mode: difference;
	opacity: 0;
}

/*************** GENERAL ******************/
/*************** GENERAL ******************/
/*************** GENERAL ******************/
html {
	scroll-behavior: smooth !important;
	width: 100vw;
}

* {
	box-sizing: border-box;
	font-weight: normal;
	cursor: none;
}

body {
	font-family: 'Questrial', sans-serif;
	background: var(--bg);
	color: var(--primary);
	margin: 0;
	font-size: 24px;
	overflow-y: scroll;
	overflow-x: hidden;
}

@media (max-width: 900px) {
	body {
		font-size: 16px;
	}
}

p {
	font-family: "Space Mono", sans-serif;
	line-height: 140%;
}

h2 {
	margin: 1rem 0px;
	font-size: 40px;
}

a {
	text-decoration: none;
	color: var(--primary);
}

ul {
	font-family: "Space Mono", sans-serif;
	margin: 2rem 0px;
	list-style-position: inside;
	padding-left: 0;
}

li {
	margin: 1em 0;
}

.section {
	display: flex;
	background: var(--bg);
	width: 100vw;
	border-top: 2px var(--primary) solid;
}

.text-content {
	padding: var(--margin-s);
}

.img-content {
	text-align: center;
	max-width: 100vw;
}

.go-to {
	color: var(--secondary);
	padding: 3rem 0;
	display: flex;
	justify-content: flex-end;
	gap: 3em;
	align-items: center;
	transition: gap .3s ease
}

.go-to svg {
	margin: 0;
	width: 1em;
}

path {
	stroke: var(--secondary);
}

/*************** HEADER ******************/
/*************** HEADER ******************/
/*************** HEADER ******************/

#header {
	border-top: none;
}

#header-title {
	background-color: var(--secondary);
	color: var(--bg);
	padding: var(--margin-l);
	width: fit-content;
	border-right: 2px solid var(--primary)
}

#header h1 {
	margin: 0;
	font-size: 108px;
}

#nav {
	display: flex;
	flex-direction: column;
	margin: var(--margin-l);
}

.nav-link {
	margin: 1rem 0px;
	font-size: 40px;
	padding: .3rem .6rem;
	margin: 0;
	transition: .3s ease
}

.nav-link:hover {
	background-color: var(--primary);
	color: var(--bg);
}

/*************** CREATIVE CODING ******************/
/*************** CREATIVE CODING ******************/
/*************** CREATIVE CODING ******************/
#creative-coding {
	/* flex-wrap: wrap; */
}

#creative-coding .img-content {
	border-right: 2px var(--primary) solid;
}

#creative-coding .text-content {
	padding-right: var(--margin-l);
}

.canvas-img {
	max-width: 70vh;
	margin: var(--margin-s)var(--margin-s)var(--margin-s)var(--margin-l);
}

hr {
	border: 1px solid var(--primary);
	margin: 0 calc(-1* var(--margin-l)) 0 calc(-1* var(--margin-s));
}

.canvas-selectors-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* REMOVE JUSTIFY WHEN MEDIA < ? */
	width: 100%
}


img {
	max-width: 100%;
}

.canvas-title {
	margin-top: 2rem;
}

.canvas-selector {
	color: var(--secondary);
	margin: 0;
	padding: 3px 10px;
	flex-grow: 1;
	text-align: center;
	transition: .4s ease-out
}

.canvas-selector:hover {
	background: var(--primary);
	color: var(--bg);
}

.canvas-selector.active {
	background: var(--primary);
	color: var(--bg)
}

.canvas-selected {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*************** FRACTALES 3D ******************/
/*************** FRACTALES 3D ******************/
/*************** FRACTALES 3D ******************/
@media (max-width: 1250px) {
	#fractales-3d {
		flex-direction: column-reverse;
	}

	#fractales-3d .section-title {
		text-align: left !important;
	}
}


.section-title {
	margin-top: 0;
	margin-bottom: 2em;
}

#fractales-3d .section-title {
	text-align: right;
}

#fractales-3d .img-content {
	position: relative;
	background-color: var(--color4);
	border-left: 2px var(--primary) solid;
}

.sequence-title {
	position: absolute;
	bottom: var(--margin-s);
	right: var(--margin-l);
	color: var(--bg);
}

#fractal-img-canvas {
	background: var(--color4);
	margin: var(--margin-s);
	min-width: 70vh;
	max-width: 720px;
}

#fractales-3d .text-content {
	padding-left: var(--margin-l);
}

.accordion-content {
	max-height: 5rem;
	overflow: hidden;
	border-top: 2px solid var(--primary);
	transition: max-height 0.4s ease;
}

.panel-heading {
	display: flex;
	justify-content: space-between;
}

.panel-body p {
	margin-top: 0;
	padding-top: 1rem;
}

.accordion-content.active {
	max-height: 100vh;
	transition: max-height 1.5s ease-out;
}

.expand-retract {
	color: var(--secondary);
	opacity: 1;
	transition: opacity .5s, margin-right .3s ease-out
}

.panel-heading:hover .expand-retract {
	margin-right: 1rem;
}

.accordion-content.active .panel-heading .expand-retract {
	opacity: 0;
}

.go-to:hover {
	gap: 1em;
}

/*************** WCC******************/
/*************** WCC******************/
/*************** WCC******************/
#wcc .text-content {
	padding-right: var(--margin-l);
}

#wcc .img-content {
	border-right: 2px solid var(--primary);
}

#wcc img {
	max-width: 55vh;
	margin: var(--margin-s) var(--margin-s) var(--margin-s) var(--margin-l);
}


/*************** FOOTER ******************/
/*************** FOOTER ******************/
/*************** FOOTER ******************/

#footer {
	background-color: var(--color5);
	border-top: 2px solid var(--primary);
	padding: var(--margin-s) var(--margin-l) 10vh !important;
	line-height: 2rem;
}

#footer .flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

}

#footer .flex-container .email {
	font-family: "Space Mono", sans-serif;
}

.social-media a {
	padding: .3rem .6rem;
	transition: .3s ease
}

.social-media a:hover {
	background-color: var(--primary);
	color: var(--bg);
}


@media (max-width: 1250px) {
	:root {
		--margin-s: 20px;
		--margin-l: var(--margin-s)
	}

	h1 {
		font-size: 55px !important
	}

	.section {
		flex-direction: column;
	}

	.img-content {
		padding: var(--margin-s) !important;
		border: none !important;
		max-width: 100% !important;
	}

	img,
	canvas {
		margin: 0 !important;
		margin: 0;
		min-width: 0 !important;
		max-width: 100% !important
	}

	#header-title {
		width: 100vw
	}

	#nav {
		gap: 1rem
	}

	.nav-link {
		border: 2px solid var(--primary);
	}
}