@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
	/* --bg: #474543;
	--primary: #000000;
	--bg: #CACFDA; */
	--bg: #ffffff;
	--primary: #000000;
	--margin-l: 5vw;
	--margin-s: 40px;
}

html {
	scroll-behavior: smooth !important;
}

* {
	box-sizing: border-box;
	font-weight: normal;
}

body {
	font-family: 'Questrial', sans-serif;
	background: var(--bg);
	color: var(--primary);
	margin: 0;
	font-size: 24px;
	overflow-x: hidden;
}

h1 {
	margin: 5vw 10vw;
	font-size: 108px;
}

h2 {
	margin: 1rem 0px;
	font-size: 40px;
}

a {
	text-decoration: none;
	color: var(--primary);
}

ul {
	margin: 2rem 0px;
	list-style-position: inside;
	padding-left: 0;
}

li {
	margin: 1em 0;
}

.section {
	display: flex;
	width: 100vw;
	border-top: 2px var(--primary) solid;
}

.text-content {
	flex-grow: 1;
	padding: var(--margin-s);
}

/*************** CREATIVE CODING ******************/
/*************** CREATIVE CODING ******************/
/*************** CREATIVE CODING ******************/
#creative-coding {
	/* flex-wrap: wrap; */
}

#creative-coding .img-content {
	border-right: 2px var(--primary) solid;
}

#creative-coding .text-content {
	padding-right: var(--margin-l);
}

.canvas-img {
	max-width: 50vh;
	margin: var(--margin-l);
}

hr {
	border: 1px solid var(--primary);
	margin: 0 calc(-1* var(--margin-l)) 0 calc(-1* var(--margin-s));
}

.canvas-selectors-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* REMOVE JUSTIFY WHEN MEDIA < ? */
	width: 100%
}



.canvas-selector {
	margin: 0;
	padding: 3px 10px;
	flex-grow: 1;
	text-align: center;
	transition: .4s ease-out
}

.canvas-selector:hover {
	cursor: pointer;
	background: var(--primary);
	color: var(--bg)
}

.canvas-selector.active {
	background: var(--primary);
	color: var(--bg)
}

.go-to {
	margin: auto 0 0 auto;
	display: flex;
	justify-content: flex-end;
	gap: 3em;
	align-items: center;
	transition: gap .3s ease
}

.canvas-selected {
	display: flex;
	flex-direction: column;

}

#creative-coding .img-content {
	cursor: pointer;
}

.canvas-selected .flex-item {}

.canvas-selected:hover .go-to {
	gap: 1em;
}

.canvas-selected:hover {
	cursor: pointer;
}

.go-to svg {
	margin: 0;
	width: 1em;
}

/*************** FRACTALES 3D ******************/
/*************** FRACTALES 3D ******************/
/*************** FRACTALES 3D ******************/
#fractales-3d {
	/* flex-wrap: wrap-reverse; */
}

.section-title {
	margin-top: 0;
	margin-bottom: 2em;
}

#fractales-3d .section-title {
	text-align: right;
}

#fractales-3d .img-content {
	border-left: 2px var(--primary) solid;
}

#fractal-img-canvas {
	background: red;
	margin: var(--margin-s);
	margin-right: var(--margin-l);
}

#fractales-3d .text-content {
	padding-left: var(--margin-l);
}

.accordion-content {
	overflow: hidden;
	border-top: 2px solid var(--primary);
}

.panel-heading {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.panel-body {
	max-height: 0;
	transition: max-height 0.4s ease;
}

.panel-body p {
	margin-top: 0;
	padding-top: 1rem;
}

.accordion-content.active .panel-body {
	max-height: 100vh;
	transition: max-height 1.5s ease-out;
}

.expand-retract {
	opacity: 1;
	transition: opacity .5s, margin-right .3s ease-out
}

.panel-heading:hover .expand-retract {
	margin-right: 1rem;
}

.accordion-content.active .panel-heading .expand-retract {
	opacity: 0;
}

.panel-body:hover {
	cursor: pointer
}

.panel-body .go-to {
	margin-bottom: 1rem;
}

.panel-body:hover .go-to {
	gap: 1em;
}

/*************** WCC******************/
/*************** WCC******************/
/*************** WCC******************/
#wcc .text-content {
	border-left: 2px var(--primary) solid;
	padding-right: var(--margin-l);
}

#wcc:hover .go-to {
	cursor: pointer;
	gap: 1em;
}

#wcc img {
	max-width: 55vh;
	margin: var(--margin-s) var(--margin-s) var(--margin-s) var(--margin-l);
}


/*************** FOOTER ******************/
/*************** FOOTER ******************/
/*************** FOOTER ******************/

#footer {
	border-top: 2px solid var(--primary);
	padding: var(--margin-l);
}

#footer .flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%
}

.social-media a {
	padding: .3rem .6rem;
	transition: .3s ease
}

.social-media a:hover {
	background-color: var(--primary);
	color: var(--bg);
}